DirectAccess.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dynamics.iorcf.eu/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://dynamics.iorcf.eu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dynamics.iorcf.eu/">
      <s:element name="GetInfoFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="TradingDay" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoFileResult" type="s:base64Binary"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTermstructureFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="TradingDay" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="InfoType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTermstructureFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTermstructureFileResult" type="s:base64Binary"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrognosisFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Market" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="TradingDay" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="InfoType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Subset" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Cyclic" type="s:boolean"/>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrognosisFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrognosisFileResult" type="s:base64Binary"/>
            <s:element minOccurs="0" maxOccurs="1" name="ProposedFileName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="retCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoFile"/>
  </wsdl:message>
  <wsdl:message name="GetInfoFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTermstructureFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetTermstructureFile"/>
  </wsdl:message>
  <wsdl:message name="GetTermstructureFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetTermstructureFileResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPrognosisFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrognosisFile"/>
  </wsdl:message>
  <wsdl:message name="GetPrognosisFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrognosisFileResponse"/>
  </wsdl:message>
  <wsdl:portType name="DirectAccessSoap">
    <wsdl:operation name="GetInfoFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Direkter Dateidownload für Marktinformationsdaten des BIT@EPI.Dynamics Services. Eine Beschreibung und ein Beispielprogramm finden Sie unter &lt;a href="http://dynamics.iorcf.eu"&gt;http://dynamics.iorcf.eu&lt;/a&gt; unter dem Menüpunkt 'Downloads'-'Direct Access'.</wsdl:documentation>
      <wsdl:input message="tns:GetInfoFileSoapIn"/>
      <wsdl:output message="tns:GetInfoFileSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetTermstructureFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Direkter Dateidownload für Termstrukturinformationen des BIT@EPI.Dynamics Services. Eine Beschreibung und ein Beispielprogramm finden Sie unter &lt;a href="http://dynamics.iorcf.eu"&gt;http://dynamics.iorcf.eu&lt;/a&gt; unter dem Menüpunkt 'Downloads'-'Direct Access'.</wsdl:documentation>
      <wsdl:input message="tns:GetTermstructureFileSoapIn"/>
      <wsdl:output message="tns:GetTermstructureFileSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPrognosisFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Direkter Dateidownload für Prognose- und Marktinformationsdaten des BIT@EPI.Dynamics Services. Eine Beschreibung und ein Beispielprogramm finden Sie unter &lt;a href="http://dynamics.iorcf.eu"&gt;http://dynamics.iorcf.eu&lt;/a&gt; unter dem Menüpunkt 'Downloads'-'Direct Access'.</wsdl:documentation>
      <wsdl:input message="tns:GetPrognosisFileSoapIn"/>
      <wsdl:output message="tns:GetPrognosisFileSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectAccessSoap" type="tns:DirectAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetInfoFile">
      <soap:operation soapAction="http://dynamics.iorcf.eu/GetInfoFile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTermstructureFile">
      <soap:operation soapAction="http://dynamics.iorcf.eu/GetTermstructureFile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrognosisFile">
      <soap:operation soapAction="http://dynamics.iorcf.eu/GetPrognosisFile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirectAccessSoap12" type="tns:DirectAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetInfoFile">
      <soap12:operation soapAction="http://dynamics.iorcf.eu/GetInfoFile" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTermstructureFile">
      <soap12:operation soapAction="http://dynamics.iorcf.eu/GetTermstructureFile" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrognosisFile">
      <soap12:operation soapAction="http://dynamics.iorcf.eu/GetPrognosisFile" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectAccess">
    <wsdl:port name="DirectAccessSoap" binding="tns:DirectAccessSoap">
      <soap:address location="http://www.iorcf.eu/Services/DirectAccess.asmx"/>
    </wsdl:port>
    <wsdl:port name="DirectAccessSoap12" binding="tns:DirectAccessSoap12">
      <soap12:address location="http://www.iorcf.eu/Services/DirectAccess.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>